.wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    right: 8px;
    top: 34px;

    @media screen and (min-width: 768px) {
        right: 16px;
        top: 37px;
        gap: 16px;
    }
}