.buttonWrapper {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @media screen and (min-width: 768px) {
        margin-top: 54px;
    }

    .formButton {
        width: 100%;

        @media screen and (min-width: 768px) {
            width: 288px;
        }
    }
}