.buttonWrapper {
    width: 100%;
    margin-top: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    
    @media screen and (min-width: 768px) {
        margin-top: 54px;
        gap: 32px;
    }
    @media screen and (min-width: 1440px) {
        margin-top: 84px; 
    }

    .formButton {
        width: 144px;

        @media screen and (min-width: 768px) {
            width: 192px;
        }
    }
}